*{
    margin: 0px;
    padding: 0px;
    border: solid black 2px;
}

.page{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:50vw;
}

.main{
    display: flex;
    flex-direction: row;
    height:80vw;
}
 
.header{
    width:90vw;
    height:10vw;
    text-align: center;
}

.main_1{
    display:flex;
    flex-direction: column;
    width:20vw;
}

.main_2{
    width:70vw;
}

.button{
    text-align: center;
}

.print_button{
    align-content: space-around;

}

.footer{
    display:flex;
    flex-direction: row-reverse;
    width:90vw;
    height:10vw;
    
}