*{
    margin: 0px;
    padding: 0px;
    border: solid black 2px;
}

.page{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
}
 
.header{
    
}

.main_1{
    
}

.main_2{

}

.button{
    text-align: center;
}

.print_button{

}

.footer{
    display:flex;
    flex-direction: row-reverse;
    width:90vw;
    
}