*{
    margin: 0px;
    padding: 0px;
  }

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.page{
    display:flex;
    position:absolute;
    top:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding:20px;
    background-color: #2f2e2e;
    border: #444444 solid 2px;
    border-radius:24px;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
 
header{
    height:20%;
    text-align: center;
    color:#E0E0E0;
}

.main_1{
    display:flex;
    flex-direction: column;
    width:20%;
    justify-content: space-evenly;
}

.main_2{
    width: 70%;
    border: #444444 solid 2px;
    border-radius: 10px;
    background-color: #888888;
}

.button{
  padding:10px;
  border: #444444 solid 2px;
  border-radius:10px;
  background:none;
  color:#E0E0E0;
  box-shadow: 5px 5px 10px red;
}

.button:hover {
  background: #888888;
  color: #121212;
}

.button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.footer {
    height:10%;
    display:flex;
    justify-content: flex-end; 
    align-items: center;
    width:100%;  
}


#popUpContainer {
    display:none;
    background-color: #121212;
    position:absolute;
    top:1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#popUpForm {
   background-color: #2f2e2e;
   border: #444444 solid 2px;
   border-radius:24px;
   padding:20px;
   display:flex;
   flex-direction:column;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  appearance: none;
  margin: 0;
}

input::placeholder {
  text-align: right;
}

.addFormField {
  background: none;
  border: none;
  text-align:right;
  text-align-last:right;
  float: right;
  outline: none;
  appearance: none;
  color:#B0B0B0;
}

.inputWrapper {
  border-bottom:#888888 solid 2px;
  border-bottom-left-radius:5px;
  padding:5px;
  margin-bottom:5px;
}

.addFormButtonsWrapper {
  display:flex;
  justify-content:space-evenly;
}

.label {
  color:#E0E0E0;
}